{% extends 'base/index.html' %}
{% load static i18n l10n crispy_forms_tags %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add member or client</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Your Workspaces</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ workspace.title }}</li>
    </ol>
</nav>
<button class="button_plus" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></button>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for client in clients %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'client-detail' pk=client.id ws_slug=workspace.slug %}"><h5 class="card-title">{{ client.get_full_name }}</h5></a>
                <p class="card-text">Text about client</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br>
<br>
{% endblock %}
