{% load widget_tweaks %}
<!-- Add Tickit-->
<div class="modal fade" id="instagram-edit" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
        <div class="modal-content">
            <form id="basic-form" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold"> Edit instagram account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        {% render_field edit_insta_form.username class="form-control" %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        {% render_field edit_insta_form.password class="form-control" type="password" %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        {% render_field edit_insta_form.confirm_password class="form-control" type="password" %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" name="edit-instagram" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>