{% load ws_helper widget_tweaks %}
{% for member in workspace|members %}
<li class="list-group-item py-3 text-center text-md-start">
    <div class="d-flex align-items-center flex-column flex-sm-column flex-md-column flex-lg-row">
        <div class="no-thumbnail mb-2 mb-md-0">
            {% if member.profile_picture %}
            <img class="avatar lg rounded-circle" src="{{ member.profile_picture.url }}" alt="member">
            {% else %}
            <span class="avatar d-flex justify-content-center align-items-center rounded-circle light-success-bg" title="{{ member.get_full_name }}"><span class="avatar-letters-small">{{ member.get_full_name|get_first_letters }}</span></span>
            {% endif %}
        </div>
        <div class="flex-fill ms-3 text-truncate">
            <h6 class="mb-0  fw-bold">{{ member.get_full_name }}</h6>
            <span class="text-muted">{{ member.email }}</span>
        </div>
        <div class="members-action">
            <span class="members-role ">{{ member|get_position:workspace }}</span>
<!--            <div class="btn-group">-->
<!--                <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                    <i class="icofont-ui-settings  fs-6"></i>-->
<!--                </button>-->
<!--                <ul class="dropdown-menu dropdown-menu-end">-->
<!--                    <li><a class="dropdown-item" href="#"><i class="icofont-ui-password fs-6 me-2"></i>ResetPassword</a></li>-->
<!--                    <li><a class="dropdown-item" href="#"><i class="icofont-chart-line fs-6 me-2"></i>ActivityReport</a></li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
    </div>
</li>
{% endfor %}